body{
    background-color: blueviolet;
    color: white;
}
div{
    background-color: yellowgreen;
}
h1{
    background-image: linear-gradient(to left, red, blue);
    font-family: system-ui;
    box-shadow: 1px 2px 10px black;
    /* font-size: 1rem; */
    border-radius: 5px;
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1::first-letter{
    text-transform: uppercase;
}
